<%= form_for(@persona,:html=>{:class=>'form-horizontal'}) do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
        <%= f.label :nombre, class:'col-sm-2 control-label' %>
     <div class="col-sm-10">
       <p><%= f.text_field :nombre,class: 'form-control'%>
     </div>
   </div>
   <div class="form-group">
        <%= f.label :ci, class:'col-sm-2 control-label' %>
     <div class="col-sm-10">
       <%= f.number_field :ci,class: 'form-control' %>
     </div>
   </div>
   <div class="form-group">
       <%= f.label :fecha_nac, class:'col-sm-2 control-label' %>
     <div class="col-sm-10">
       <%= f.date_select :fecha_nac,class: 'form-control' %>
     </div>
   </div>

   <div class="form-group">
       <%= f.label :pais_id, class:'col-sm-2 control-label' %>
     <div class="col-sm-10">
       <%= f.collection_select :pais_id ,Pai.all,:id,:nombre,class: 'form-control' %>
     </div>
   </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
      </div>
      <div class="col-sm-10">
        <%= f.submit 'crear persona',:class=>'btn btn-primary'%>
      </div>
    </div>


<% end %>