<p id="notice"><%= notice %></p>

<h1>Lista de Personas</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ci</th>
      <th>Fecha nac</th>
      <th>Pais</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= persona.nombre %></td>
        <td><%= persona.ci %></td>
        <td><%= persona.fecha_nac %></td>
        <td><%= persona.pais_id %></td>
        <td><i><%= link_to '', persona,class:'fa fa-folder-open' %></i></td>
        <td><i><%= link_to '', edit_persona_path(persona),class: 'fa fa-pencil-square-o' %></i></td>
        <td><i><%= link_to '', persona, method: :delete, data: { confirm: 'Are you sure?' },class:'fa fa-trash' %></i></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Persona' , new_persona_path, class:'btn btn-primary' %>
