<p id="notice"><%= notice %></p>


<div class="col-md-12">
  <div class="row">
  <div class="col-md-3"><strong>Nombre Completo</strong></div>
  <div class="col-md-9"><%= @persona.nombre %></div>
  </div>
  <div class="row">
  <div class="col-md-3"><strong>Carnet de Identidad</strong></div>
  <div class="col-md-9"><%= @persona.ci %></div>
  </div>
  <div class="row">
  <div class="col-md-3"><strong>fecha de naciemiento</strong></div>
  <div class="col-md-9"><%=@persona.fecha_nac%> </div>
  </div>
</div>

<%= link_to 'Editar', edit_persona_path(@persona) %>
<%= link_to 'Volver', personas_path %>
